
$brand-color-gray: #ccc; // Gray Normal
$brand-color-gray-l: #979797; // Gray Ligth
$brand-color-gray-d: #333; // Gray Dark

$button-confirm-color: #3085d6;
$button-cancel-color: #d33;

$font-family: 'Roboto', sans-serif;
$font-color-default: white;
$font-color-gray: $brand-color-gray;

$component-food-color: white;